h1 {
color: rgb(48, 103, 206);
width: 300px;

}

.deportes {

border: 3px black solid;
}

#botontest {

    color: antiquewhite;
background-color: darkblue;


}

#botontest2 {

    color: rgb(131, 75, 2);
background-color: rgb(255, 247, 202);


}

#div2 {
background-color: red;
    
    border: 5px black ;
  
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c93c3c;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #741515;
  }