h1 {
color: rgb(48, 103, 206);
width: 300px;

}

.deportes {

border: 1px black solid;
}

#botontest {

    color: antiquewhite;
background-color: darkblue;


}

#botontest2 {

    color: rgb(131, 75, 2);
background-color: rgb(255, 247, 202);


}